#mainframe{
	border: solid 1px #CCC;
	border-radius: 20px;
	width:30%;
	position:fixed;
	top:40%;
	left:30%;
	-webkit-column-count: 2; 
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 30px;
        -moz-column-gap: 40px;
        column-gap: 30px;
	column-fill: balance;
	font-size:20px;
	font-weight:bold;
	text-align: center;
	text-shadow:3px 4px #CCC;
	box-shadow:40px 40px 50px 20px black;
	-ms-transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
        transform: rotate(7deg);
}